/* 使用现代的 @use 代替 @import */
@use './reset.scss';

// 设置全局滚动条样式(感觉没原生好看)
// ::-webkit-scrollbar {
//     width: 10px;
// }

// ::-webkit-scrollbar-track {
//     background-color: $base-menu-background-color;
// }

// ::-webkit-scrollbar-thumb {
//     background-color: #fff;
// }