// 左侧的菜单的宽度
$base-menu-width: 260px;
// 左侧菜单折叠后的宽度
$base-menu-min-width: 60px;
// 左侧菜单的背景颜色
$base-menu-background-color: #001529;
// 顶部导航的高度
$base-tabbar-height: 50px;

// 左侧菜单顶部的logo部分（图片+名字）
$base-menu-logo-height: 50px;
// 左侧菜单logo中文字大小
$base-logo-title-size: 20px;